.content{
  width: 660px;
  margin-left: 20px;
  float: left;
  font-size: 1.5rem;
}
.contact-form th {
text-align: right;
vertical-align: middle;
padding: -5px -5px;
width: 150px;
height: 7rem;
}
.formB {
  display: block;
  padding:25px;
  width: 480px;
}
.submitbutton {
  font-size: 3rem;
  color: white;
  height: 65px;
  width: 90px;
  background-color: #008B8B;
}
td.submitbutton{
  padding: 10px;
}
.button-area {
}
.submitbutton:hover{
  opacity: 0.6;
}
textarea{
  width:480px
}
.content p {
  text-align: center;
}